$width-full-sidebar:240px;
$width-collapse-sidebar:50px;

#admin-dashboard-container {
    #admin-sidebar {
        width: $width-collapse-sidebar;
        transition: 0.5s;
        min-height: 100vh;
        height:100%;
        .menu-list {
            min-width: $width-full-sidebar;
        }

        .sidebar__link {
            &:hover {
                .sidebar__link__icon {
                    color:rgb(182, 115, 230);
                }
                .sidebar__link__title {
                    color: rgb(182, 115, 230);
                }
            }
            &.active {
                border-left: 4px solid black;
                h4 {
                    font-weight: bold;
                }
            }
        }
    }
    #admin-main {
        transition: 0.5s;
        width:100%;
        padding-left:$width-collapse-sidebar;
        min-height: 100vh;
        height:100%;
    }
    &.show-sidebar {
        #admin-sidebar {
            width: $width-full-sidebar;
        }
        #admin-main{
            padding-left: $width-full-sidebar;
        }
    }
}

