$width-full-sidebar: 300px;
$width-collapse-sidebar: 70px;

$height-navbar: 85px;

$primary-color: var(--admin-color-1);

#admin-dashboard-container {
  #admin-sidebar {
    background: var(--admin-color-1);
    width: $width-collapse-sidebar;
    transition: 0.5s;

    min-height: 100vh;
    height: 100%;

    position: fixed;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 0px;

    #admin-sidebar__header {
      height: $height-navbar;
      width: $width-collapse-sidebar;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      position: fixed;
      left: auto;
      transition: all 2s;
      .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        h1 {
          display: none;
        }
      }
    }
    .menu-container {
      position: fixed;
      top: $height-navbar;
      height: calc(100% - $height-navbar);
      width: $width-collapse-sidebar;
      padding-top: 20px;
      .menu-list {
        display: "flex";
        flex-direction: columns;
        .menu-item {
          padding: 5px 10px 5px 10px;
          cursor: pointer;
          .menu-item__title {
            position: relative;
            color: rgba(255, 255, 255, 0.7);
            padding: 15px 15px;
            border-radius: 17px;

            display: grid;
            grid-template-columns: 25px max-content 1fr;
            column-gap: 15px;
            align-items: center;

            &__icon {
              font-size: 30px;
            }
            &__name {
              font-size: 18px;
              font-weight: 500;
            }
            &__submenu-icon {
              font-size: 25px;
              justify-self: flex-end;
              transform: rotate(-90deg);
              transition: 0.5s;
            }
          }

          .submenu-list {
            color: white;
            display: none;
            flex-direction: column;

            transition: all ease-in-out 2s;

            li {
              padding: 8px 55px;
              font-size: 16px;
              font-weight: 400;
            }
          }

          &:hover {
            .menu-item__title {
              background-color: #554abe;
            }
          }
          &.active {
            .menu-item__title {
              background-color: #554abe;
              &__submenu-icon {
                transform: none;
              }
            }
            .submenu-list {
              display: flex;
              transition: all ease-in-out 2s;
            }
          }
        }
      }
    }
  }
  &.show-sidebar {
    #admin-sidebar {
      width: $width-full-sidebar;
      #admin-sidebar__header {
        width: $width-full-sidebar;
        .brand {
          h1 {
            display: block;
          }
        }
      }
      .menu-container {
        width: $width-full-sidebar;
      }
    }
    #admin-main {
      padding-left: $width-full-sidebar;
    }
  }
  #admin-main {
    transition: 0.5s;
    width: 100%;
    padding-left: $width-collapse-sidebar;
    min-height: 100vh;
    height: 100%;
    #admin__navbar {
      height: $height-navbar;
      border-bottom: 1px solid #eee;
    }
  }
}
